* {box-sizing: border-box;}
body {background-color: #9DBCBC;}
.parent {
    display: grid;
    grid-template-columns: repeat(3,20%);
    grid-template-rows: repeat(2, 40vh);
    justify-content: center;
    margin-top: 5%;

}

img {
    width: 70%;
    height: 30vh;
    margin-bottom: 0;
}

.div1 img, .div4 img {
    border-radius: 100%;
}

.div2 img, .div5 img {clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.div3 img, .div6 img {clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.description1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30vh;
    border-radius: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: relative;
    top: -30vh;
    opacity: 0;
    margin-top: 0;
}

.description1 p:first-child{font-size: larger;}
.description1 p:nth-child(2){margin-left: 10%;}
.description1:hover{opacity: 1;}

.description2 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30vh;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: relative;
    top: -30vh;
    opacity: 0;
    margin-top: 0;
}

.description2 p:first-child{font-size: larger;}
.description2 p:nth-child(2){margin-left: 10%;}
.description2:hover{opacity: 1;}


.description3 {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30vh;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: relative;
    top: -30vh;
    opacity: 0;
    margin-top: 0;
}

.description3 p:first-child{font-size: larger;}
.description3 p:nth-child(2){margin-left: 10%;}
.description3:hover{opacity: 1;}

